@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a{
	text-decoration: none;
}
a:link{
	color: #FFFFFF;
}
#ul1{
	width: 805.31px;
	height: 60px;
	list-style: none;
	float: left;
}

#ul1 li{
	margin: 15px;
	float: left;
}
.l{
	float: left;
}
.r{
	float: right;
}
.r a{
	color: white;
}
.fast{
	background-color: #858587;
}
.heade{
	height: 60px;
	width: 1200px;
	margin: 0 auto;
	color: #fff;
	background-color: #858587;
}
.nav{
	float: left;
	margin-top: 10px;
}
#tt img{
	margin-top: 20px;
}
.nav h1{
	width: 126px;
	height: 18px;
	font-size: 30px;
	list-style: none;
	font-weight: normal;
	font-family: "宋体";
	color: black;
	margin-top: 10px;
}
.mid{
	height: 770px;
	width: 100%;
	background-image:url(../img/01.jpg);
	background-size:100% 770px ;
	background-attachment: scroll;
	
}
.midd{
	width: 1200px;
	margin:30px;
	
}
/*剧中设置*/
.middle{
	width: 1200px;
	height: 356.8px;
	position: relative;
	padding-top:10rem ;
	margin: 0 auto;
}
.middle1{
	height: 39px;
	line-height: 39px;	
}
.middle1 h2{
	font-family: "微软雅黑 512B W","PingFang SC","microsoft yahei","Helvetica Neue",helvetica,arial;
	line-height:39px;
 	color: #fff;
 	text-align: center;
 	width: 1200px;
 	height: 39px;
	font-size: 40px;
 }
.middle2{
	z-index: 9;
	width:1200px ;
	height: 50px;
}
.middle2 input{
	width:650px ;
	height:50px ;
	margin-left:300px ;
	border-radius:12px ;
}
.middle3{
	height: 39px;
	line-height: 39px;	
}
.middle3 h2{
	text-align: center;
}
.zhongjian{
	width:100% ;
	height:489px ;
	margin: 0 auto;
	/*background-color: red;*/
}
/*明星店铺*/
.body{
	width: 100%;
	margin-top:100px ;
}
/*.yan{
	float: left;
}*/
.body h2 {
	font-family: "微软雅黑 512B W","PingFang SC","microsoft yahei","Helvetica Neue",helvetica,arial;
	line-height:39px;
 	color: black;
 	text-align: center;
 	width: 1200px;
 	height: 39px;
	font-size: 40px;
}
.body h3{
	width: 99px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	display: inline-block;
	margin-left:558px ;
	margin-top: 30px;
}
.tiyandian{
	height: 170px;
	width: 100%;
	margin-top: 10px;
	padding-top: 45px;
	border-top: 1px #858587 solid;
}
.box{
	width: 100%;
	height: 192px;
	margin: -20px;
	
}
.ti{
	width:30%;
	height: 192px;
	font-weight: normal;
	
	float: left;
}
.ti dl{
	display: block;
	margin: 40px;
}
.ti dl dt h3{
	 font-family: "方正悠黑 510M W", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
	font-size: 18px;
	line-height: 18px;
}
.ti dd{
	font-size: 16px;
	margin-top: 20px;
	 font-family: "方正悠黑 510M W", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;

	
}
.address{
	margin-top:20px;
}
.tel{
	margin: 5px;
}
.huodong{
	width:1435px ;
	height:1300px ;
	background-color: #f5f5f5;
	z-index:1;
	margin: 0 auto;
}
.huodong h2{
	font-family: "微软雅黑 512B W","PingFang SC","microsoft yahei","Helvetica Neue",helvetica,arial;
	line-height:39px;
 	color: black;
 	text-align: center;
 	width: 1200px;
 	height: 39px;
	font-size: 36px;
	margin-top: -180px;
	margin-left: 60px;
}
.tubiao{
	margin-top: 40px;
}
.big{
	width:1200px ;
	height: 1205px;
	/*background-color: aqua;*/
	margin: 0 auto;
}
.big ul{
	width: 1200px;
	height: 382px;
	margin-top: 20px;
	background-color: #FFFFFF;
	margin: 30px;
}
.big li{
	width: 500px;
	height: 290px;
	/*background: pink;*/
	/*background-color: #FFFFFF;*/
	margin: 0 auto;
	font-family:"微软雅黑";
	float: left;
}
.big h2{
	width: 360px;
	height: 39px;
	font-size: 28px;
	text-align: left;
	margin-top: 40px;
}
.big h3{
	margin-top: 15px;
	margin-left: 60px;
}
.big p{margin-top: 20px;
line-height:1.9;
font-size:20px ;
margin-left: 60px;
}
.big a{
	width: 360px;
	color: #000000;
}
.lian a{
	margin-left: 60px;
	
}
.big img{
	margin-right: -250px;
	float: right;
}
.tubiao{
	height:608px ;
	width:1200px;
	margin: 0 auto;
	
}



#div{
	height: 100px;
	width:1200px;
	margin-left:150px;
}
#rigth{
	width: 60%;
	height: 300px;
	float: left;
}
#left{
	float: right;
	width: 40%;
	height: 200px;
}
#rigth ul{
	float: left;
	margin: 50px;
}
#rigth li{
	line-height: 30px;
	color: #777777;
	font-size: 12px;
}
#rigth li span{
	color: black;
	
}
#left1{
	margin-left: 200px;
	margin-top: 80px;
}
#left1 h4{
	margin-left: 10px;
	color:grey;
}
#left1 span{
	color: #777777;
	font-size: 14px;
}
#xian{
	
	border: 1px solid #EBEBEB;
	
	
}
#dibu{
width: 1250px;
clear: both;
margin: 0 auto;
height: 100px;	


}
#dibu1{
	float:left;
	margin-top:30px;
}
#dibu1 p{
	
	font-size: 14px;
	color: #B4B4B6;
}
#dibu2{
	float:right;
	margin-top: 30px;
}
#dibu2{
	font-size: 14px;
	color: #B4B4B6;
	
}
#dibu2 p img{
vertical-align: middle;
width: 20px;
height: 20px;

}
#dibu2 #liu{
	width: 16px;
	height: 16px;
}
#dibu2 #fenxian{
	border: solid gainsboro;
	height:1px;
}
#dibu2 img{
	margin-left: 25px;
	/*height: 25px;*/
	
	
	
}
#dibu2 p{
	margin-right: 70px;
}